html,
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
}

.title {
  @extend %roboto-700;
  text-align: center;
  color: $title;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text {
  text-align: center;
  margin: 0 auto 55px;
  max-width: 570px;
}
.star {
  margin: 0 auto;
}
.breadcrumbs {
  display: inline-block;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/home-icon.svg");
    width: 16px;
    height: 16px;
    left: 0;
    top: 4px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    color: #727272;
    position: relative;
    padding-right: 40px;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/angle-right.svg");
      width: 9px;
      height: 10px;
      right: 15px;
      top: 9px;
    }
    &:last-child {
      color: $accent;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

.header--404-page {
  background-color: $bg;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  .pagination__list {
    display: flex;
    padding: 0 35px;
  }
  &__item {
    padding: 0 15px;
  }
  &__link--active {
    color: $accent;
  }
  &__arrows {
    text-transform: uppercase;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 7px;
      width: 5px;
      height: 10px;
    }
  }
  &__prev {
    padding-left: 15px;
    &:before {
      background-image: url("../images/icons/arrow-left.svg");
      left: 0;
    }
  }
  &__next {
    padding-right: 15px;
    &:before {
      background-image: url("../images/icons/arrow-right.svg");
      right: 0;
    }
  }
}
.blog-box {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  &__author,
  &__date {
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__author::before {
    background-image: url("../images/icons/user-gray.svg");
  }
  &__date::before {
    background-image: url("../images/icons/time-gray.svg");
  }
}

@media (max-width: 620px){
  .title{
    font-size: 40px;
    line-height: 48px;
  
  }
}
@media (max-width: 375px){
.title{
  font-size: 30px;
    line-height: 40px;
}
}